@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: rgb(18, 194, 233);
  background: linear-gradient(
    135deg,
    rgba(18, 194, 233, 1) 0%,
    rgba(196, 113, 237, 1) 35%,
    rgba(246, 79, 89, 1) 100%
  );
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.height {
  height: 100vh;
  height: -webkit-fill-available;
}
